html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    /*font-family: "Merriweather", serif;*/
    font-style: normal;
    font-size: 18px;
    color: #fff;
    background-color: #000;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-logo {
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 0;
    background-image: url("./assets/svg/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header-nav {
    margin-left: auto;
    margin-right: 30px;
    padding-right: 2px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    font-family: inherit;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-link:hover {
    color: #bdae82;
}

.lang {
    display: flex;
    width: 70px;
    height: 50px;
    margin-right: 20px;
    font-family: inherit;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    gap: 9px;
    color: #fff;
}

.lang-option {
    cursor: pointer;
}

.active {
    color: #bdae82;
}

.hero-container {
    display: flex;
    height: 820px;
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
}

.section-hero {
    margin-left: 80px;
    padding-top: 110px;
}

.hero-title {
    font-family: "Merriweather", serif;
    font-size: 60px;
    line-height: 120px;
    font-weight: 700;
    color: #fff;
}

.text {
    max-width: 470px;
    margin-top: -40px;
    margin-bottom: 25px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #fff;
}

.button {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    background-color: #bdae82;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: #fff;
}