:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #fff;
    --font-1: 60px;
    --font-2: 40px;
    --font-3: 20px;
    --font-4: 18px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: var(--font-3);
    line-height: 50px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 20px 20px;
}

.header-logo {
    width: 50px;
    height: 50px;
    background-image: url("./assets/svg/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header-nav {
    position: relative;
    width: 500px;
    height: 50px;
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item:first-child {
    margin-left: 30px;
}

.nav-item:last-child {
    margin-right: 31px;
}

.nav-link {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--color-gold);
}

.lang {
    display: flex;
    width: 70px;
    height: 50px;
    font-weight: 700;
    gap: 9px;
}

.lang-option {
    cursor: pointer;
    transition: 0.5s;
}

.lang-option:hover {
    color: var(--color-gold);
}

.active {
    color: var(--color-gold);
}

.header-burger {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
}

.line {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: var(--color-white);
}

.burger-line-one {
    top: 11px;
}

.burger-line-two {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-three {
    bottom: 11px;
}

.hero-container {
    height: 820px;
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
}

.section-hero {
    width: 550px;
    padding: 160px 0 0 80px;
}

.hero-title {
    max-width: 500px;
    height: 120px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: var(--font-1);
    line-height: 120px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.hero-text {
    max-width: 470px;
    height: 120px;
    line-height: 40px;
    margin: 0 0 25px 0;
}

.btn {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: var(--font-3);
    border: 0;
    background-color: var(--color-gold);
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: var(--color-white);
}

.section-title {
    width: 152px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: var(--font-2);
    line-height: 80px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    color: var(--color-gold);
    background-color: var(--color-black);
}

.section-title-line {
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    width: 700px;
    margin: 0 auto;
}

.skills-items {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 60px;
}

.skill-item {
    background-position: center top;
    background-repeat: no-repeat;
}

.skill-item:nth-child(1) {
    background-image: url("./assets/svg/camera.svg");
    background-size: 62px 50px;
}

.skill-item:nth-child(2) {
    background-image: url("./assets/svg/video.svg");
    background-size: 60px 50px;
}

.skill-item:nth-child(3) {
    background-image: url("./assets/svg/image.svg");
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url("./assets/svg/mic.svg");
    background-size: 32px 50px;
}

h3 {
    margin-top: 100px;
    font-style: normal;
    font-size: var(--font-3);
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.skills-text {
    font-style: normal;
    font-size: var(--font-4);
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0 20px;
}

.section-title-portfolio {
    width: 220px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: var(--font-2);
    line-height: 80px;
    font-weight: 700;
    text-align: center;
    color: var(--color-gold);
    margin: 0 auto;
    padding-top: 100px;
    background-color: var(--color-black);
}

.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
    gap: 5px;
}

.portfolio-button {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: var(--font-3);
    font-weight: 400;
    color: var(--color-gold);
    background-color: transparent;
    border: 3px solid var(--color-gold);
    cursor: pointer;
    transition: 0.5s;
}

.portfolio-button:hover {
    color: var(--color-white);
}

.portfolio-items {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    gap: 25px;
}

.video-player {
    width: 1400px;
    height: 705px;
    position: relative;
    display: flex;
    background-image: url("./assets/img/video-player.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.video-button {
    position: absolute;
    background: transparent;
    background-image: url("./assets/svg/Play_hover.svg");
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.video-button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price-list {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 505px;
    align-items: center;
    border: 3px solid var(--color-gold);
}

.price-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 28px;
    line-height: 56px;
    font-weight: 700;
    color: var(--color-white);
}

.value {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--color-gold);
}

.price-description {
    font-size: var(--font-4);
    line-height: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.price-include {
    display: block;
}

.section-contacts {
    display: flex;
    justify-content: flex-end;
    height: 700px;
    background-image: url("./assets/img/contacts-photo.jpg");
    background-size: auto 700px;
    background-position: center center;
    background-repeat: no-repeat;
}

.contacts-container {
    width: 450px;
    margin-top: 60px;
    margin-right: 20px;
}

.contacts-title {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: var(--font-2);
    line-height: 80px;
    font-weight: 700;
    color: var(--color-gold);
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.email,
.phone {
    height: 50px;
}

.email, 
.phone,
.message {
    padding-left: 18px;
    font-family: inherit;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: var(--color-gold);
    border: 3px solid var(--color-gold);
    background: rgba(0, 0, 0, 0.5);
}

.message {
    height: 100px;
    margin-bottom: 10px;
    resize: none;
}

::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: var(--font-3);
    line-height: 40px;
    font-weight: 400;
    color: var(--color-gold);
}

:focus::placeholder {
    color: transparent;
}

.footer-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
}

footer a:hover {
    color: var(--color-gold);
}

.github {
    display: flex;
    gap: 20px;
}

.rsschool {
    padding-right: 60px;
}

.social-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.social-item {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.social-item:nth-child(1) {
    background-image: url("./assets/svg/inst.svg");
}

.social-item:nth-child(2) {
    background-image: url("./assets/svg/fb.svg");
}

.social-item:nth-child(3) {
    background-image: url("./assets/svg/tw.svg");
}

.social-item:nth-child(4) {
    background-image: url("./assets/svg/pinterest.svg");
}

.social-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
